@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  line-height: 1.5;
  color: #010101;
}

/* Nav bar*/
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 110px;
  background-color: #600b94de;
  z-index: 10;
  overflow-y: visible;
}
.topnav .brand {
  color: #f0eff1;
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 25px 50px 25px 25px;
  text-decoration: none;
}
.topnav .brand .tagline {
  display: block;
  font-size: 1.2rem;
  color: #ccc;
  font-weight: normal;
}
.topnav,
.topnav a,
.topnav .brand {
  font-family: inherit;
  font-weight: 600;
}
.topnav a.navlink {
  color: #f2f2f2;
  text-align: center;
  padding: 25px 50px 25px 25px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: rgb(176, 94, 235);
  color: black;
}
.topnav a.active {
  background-color: rgb(190, 66, 239);
  color: white;
}
.topnav .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.dropdown {
  color: #f2f2f2;
  position: relative;
  display: inline-block;
  margin-left: 10px;
  margin-right: auto;
}
.dropdown-content {
  display: none;
  position: absolute;
  font-weight: 400;
  background-color: #f9f9f9;
  color: rgb(8, 8, 8);
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 20;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* map and things on the map*/
#map {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 110px);
  z-index: 1;
}

.ol-search {
  position: absolute;
  left: 0.5em;
  top: 0.5em;
}

.ol-popup,
.ol-popup-content,
.popup-title {
  font-family: inherit;
  font-weight: 400;
}

.ol-zoom-ph {
  top: 0.5em;
  right: 0.5em;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
}

.ol-popup:after,
.ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup p {
  margin: 0.5em 0;
  font-size: 0.9rem;
}

.popup-title {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.75em;
}

#parklist {
  display: none;
  position: absolute;
  top: 175px;
  left: 10px;
  font-weight: 400;
  background-color: #f9f9f9;
  color: rgb(120, 29, 156);
  width: 250px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 20;
  opacity: 0.9;
  max-height: 500px;
  overflow-y: scroll;
}

#parklist.active {
  display: block;
}

.parklist-item {
  border-bottom: rgb(120, 29, 156);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
}
.parklist-item:last-of-type {
  border: none;
}
.parklist-item:hover {
  background-color: #d6d6d6;
}

.parklist-item .park-address {
  color: #4e4e4e;
  font-size: small;
}
